* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background: #687497;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.calc-container {
    background: #222226;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 700px;
    padding: 30px;
    border: 2px solid black;
}

.display {
    background: #444444;
    border-radius: 8px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

#operation-display {
    flex: 1;
    width: 100%;
    color: #FFFFFF;
    font-size: 30px;
    text-align: right;
}

#result-display {
    flex: 2;
    width: 100%;
    color: #FFFFFF;
    font-size: 55px;
    text-align: right;
    font-weight: bold;
}

.numpad {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
    width: 100%;
}

.clear-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.clear-container button {
    flex: 1;
    min-height: 60px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#clear {
    background: #E4004B;
    color: #FFFFFF;
}

#delete {
    background: #FFFFFF;
    color: #E4004B;
}

.bottom-numpad {
    flex: 1;
    display: flex;
    gap: 10px;
}

.number-container {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.number-container button {
    flex: 1 1 calc(33.333% - 10px);
    min-height: 60px;
    background: #444444;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.operator-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.operator-container button {
    flex: 1;
    min-height: 60px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.operator {
    background: #ED775A;
    color: #FFFFFF;
}

#equal {
    background-color: #3cd380;
    color: #FFFFFF;
    font-weight: bolder;
}